Statistical-Learning-and-Decision-Making-II/PageRank/python-igraph-year2015-modified/* linguist-vendored
Statistical-Learning-and-Decision-Making-II/PageRank/wiki-small/* linguist-vendored
*.html linguist-detectable=false
